
name: workflow
on:
  push:
    branches:
      - master
jobs:
  unittest:
    if: contains(github.event.head_commit.message, '[CI SKIP]') == false && contains(github.event.head_commit.message, '[CI AUTO]') == false
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: [3.8, 3.9]
        os: [windows-latest, ubuntu-latest]
    steps:
      - name: Set up python version ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install necessities pip, setuptools, wheel, twine
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
      - name: Install 6 git repos
        run: |
          pip install git+https://github.com/ManderaGeneral/generallibrary.git
          pip install git+https://github.com/ManderaGeneral/generalbrowser.git
          pip install git+https://github.com/ManderaGeneral/generalfile.git
          pip install git+https://github.com/ManderaGeneral/generalmainframe.git
          pip install git+https://github.com/ManderaGeneral/generalvector.git
          pip install git+https://github.com/ManderaGeneral/generalpackager.git
      - name: Run Packager method 'workflow_unittest'
        run: |
          python -c "from generalpackager import Packager; Packager('generalpackager').workflow_unittest()"
        env:
          PACKAGER_GITHUB_API: ${{ secrets.PACKAGER_GITHUB_API }}
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
          TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
  sync:
    needs: unittest
    runs-on: ubuntu-latest
    steps:
      - name: Set up python version 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install necessities pip, setuptools, wheel, twine
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
      - name: Install 6 git repos
        run: |
          pip install git+https://github.com/ManderaGeneral/generallibrary.git
          pip install git+https://github.com/ManderaGeneral/generalbrowser.git
          pip install git+https://github.com/ManderaGeneral/generalfile.git
          pip install git+https://github.com/ManderaGeneral/generalmainframe.git
          pip install git+https://github.com/ManderaGeneral/generalvector.git
          pip install git+https://github.com/ManderaGeneral/generalpackager.git
      - name: Run Packager method 'workflow_sync'
        run: |
          python -c "from generalpackager import Packager; Packager('generalpackager').workflow_sync()"
        env:
          PACKAGER_GITHUB_API: ${{ secrets.PACKAGER_GITHUB_API }}
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
          TWINE_USERNAME: ${{ secrets.TWINE_USERNAME }}
